:root {
    --primary-text-clr: antiquewhite;
    --primary-background-clr: linear-gradient(to top, #2F3438, #292C33, #547695);
    --hover-color: #547695;
  }
* {
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    background: var(--primary-background-clr);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    place-content: center;
    background: linear-gradient(to bottom, #2F3438, #292C33);
    border-radius: 10px;
    height: 100px;
    place-items: center;
    padding: 0px;
    margin-bottom: 0px;

}

a:hover {
    color: var(--hover-color);
}

.contenedor-nav {
    width: 380px;
}

.nav-anchor {
    text-decoration: none;
    color: var(--primary-text-clr);
    margin: 15px;
}

.inicio {
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.contiene {
    display: flex;
    width: 380px;

}

.inicio-left {
    width: 50%;
    background: linear-gradient(to bottom, #2F3438, #292C33, #121318, #080B12, #01040B);
    border-radius: 15px 0px 0px 15px;
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
}

.contenido-left {
    position: relative;
    display: flex;
    flex-direction: row;
}

.inicio-right {
    width: 50%;
    height: 100%;
    background: linear-gradient(to bottom, #2F3438, #292C33, #121318, #080B12, #01040B);
    border-radius: 0px 15px 15px 0px;
    display: flex;
    justify-content: center;
}

.contenido-right {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

.contenedor-texto {
    margin-top: 50px;
}


.contenedor-texto h1 {
    font-size: 2.2em;
    text-align: center;
    white-space: nowrap;
    color: var(--primary-text-clr);
    margin-right: 40px;
}

.contenedor-texto p {
    letter-spacing: normal;
    color: var(--primary-text-clr);
    margin-bottom: 30px;
}

.contenedor-texto img {
    width: 200px;
}

.hacer-reserva {
    margin-left: 40px;
}

.boton-reservar {
    font-size: 20px;
    letter-spacing: 2px;
    background: gray;
    color: var(--primary-text-clr);
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    border: solid 2px var(--primary-text-clr);
    margin-left: 20px;
}

.boton-reservar:hover {
    background-color: var(--hover-color);
    color: var(--primary-text-clr);
}

.contenedor-img {
    background-image: url('inicio/barberoIA_inicio_215PX.png');
    width: 215px;
    height: 272px;
}


.nosotros {
    display: flex;
    flex-direction: column;
}

.contenedor-barberos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    place-self: center;
    border-radius: 15px;
    color: var(--primary-text-clr);
    gap: 20px;

}

.contenedor-barbero {
    background: linear-gradient(to bottom, #2F3438, #292C33, #121318, #080B12, #01040B);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    width: 380px;

}

.contenedor-barbero img {
    width: 200px;
}

.barbero-bottom {
    display: flex;
    margin-left: 10px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.barbero-bottom-right {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    flex-direction: row;
    align-items: center;
}

.social-media-icon {
    color: var(--primary-text-clr);
    font-size: 22px;
    cursor: pointer;
}

.go-to-top{
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
    background: linear-gradient(to bottom, #2F3438, #292C33, #121318, #080B12, #01040B);
	border-radius: 0.5rem;
	padding: 0.5rem;
	text-decoration: none;
	transition: 0.2s ease-out;
    color: var(--primary-text-clr);
}

.go-to-top:hover{
    transform: translateY(-4px);
}
@media screen and (width < 501px) {
    .hacer-reserva {
        margin-left: 0;
    }

    .contenedor-texto h1 {
        font-size: revert;
        margin-right: 0;
    }

    .contiene {
        height: 330px;
    }

}

@media screen and (width > 715px) {
    body {
        background: linear-gradient(to top, #2F3438, #292C33, #547695);
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    ul {
        margin-bottom: 16px;
    }

    .contenedor-nav {
        width: 715px;
    }

    .contiene {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 700px;
        height: 460px;
        align-self: center;
    }

    .contenedor-img {
        background-image: url('inicio/barberoIA_inicio_340PX.png');
        width: 340px;
        height: 429px;
    }

    .contenedor-texto h1 {
        font-size: 3.5em;
        text-align: center;
        white-space: nowrap;

        color: var(--primary-text-clr);
    }

    .hacer-reserva {
        margin-left: 85px;
    }

    .contenedor-barberos {
        display: flex;
        justify-content: center;
        align-items: center;
        place-self: center;
        border-radius: 15px;
        color: var(--primary-text-clr);
        gap: 20px;
        flex-wrap: wrap;
        flex-direction: row;
        width: 700px;
    }

}

@media screen and (width > 900px) {
    ul {
        margin-bottom: 16px;
    }

    .contenedor-nav {
        width: 897px;
    }

    .contiene {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 880px;
        height: 396px;
        align-self: center;
    }

    .contenedor-img {
        background-image: url('inicio/barberoIA_inicio_282PX.png');
        width: 282px;
        height: 356px;
    }

    .contenedor-texto {
        margin-top: 50px;
    }


    .contenedor-texto h1 {
        font-size: 3.5em;
        text-align: center;
        white-space: nowrap;
        color: var(--primary-text-clr);
    }

    .hacer-reserva {
        margin-left: 85px;
    }

    .contenedor-barberos {
        display: flex;
        justify-content: center;
        align-items: center;
        place-self: center;
        border-radius: 15px;
        color: var(--primary-text-clr);
        gap: 20px;
        flex-wrap: wrap;
        flex-direction: row;
        width: 900px;
    }

        .contenedor-barbero {
        background: linear-gradient(to bottom, #2F3438, #292C33, #121318, #080B12, #01040B);
        padding: 20px;
        border-radius: 15px;
        display: flex;
        width: 45%;
    }
}

@media screen and (width > 1300px) {
    body {
        background: linear-gradient(to top, #2F3438, #292C33, #547695);
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    ul {
        margin-bottom: 16px;
    }

    .contenedor-nav {
        width: 1100px;

    }

    .contiene {
        width: 1100px;
        height: 450px;
    }


    .inicio-left {
        width: 50%;
        background: linear-gradient(to bottom, #2F3438, #292C33, #121318, #080B12, #01040B);
        border-radius: 15px 0px 0px 15px;
        display: flex;
        align-content: flex-end;
        flex-wrap: wrap;
        justify-content: center;
    }

    .contenedor-barberos {
        width: 1000px;
    }


    .contenedor-barbero {
        background: linear-gradient(to bottom, #2F3438, #292C33, #121318, #080B12, #01040B);
        padding: 20px;
        border-radius: 15px;
        display: flex;
        width: 45%;
    }

}

@media screen and (width > 715px) {
    .nav-anchor {
        text-decoration: none;
        color: var(--primary-text-clr);
        margin: 15px;
        font-size: 20px;
    }
}

.container {
    position: relative;
    width: 1200px;
    min-height: 850px;
    margin: 0 auto;
    padding: 5px;
    /* color: #fff; */
    color: antiquewhite;
    display: flex;
  
    border-radius: 10px;
    /* background-color: #373c4f; */
    /* background-color: #0e0e0f; */
    background: linear-gradient(to bottom, #2F3438, #292C33, #080B12);
    border: solid 1px #d3d4d6d7;
  }
  .left {
    width: 60%;
    padding: 20px;
  }
  .calendar {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    /* color: #878895; */
    color: antiquewhite;
    border-radius: 5px;
    /* background-color: #fff; */
  }
  /* set after behind the main element */
  .calendar::before,
  .calendar::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 12px;
    height: 97%;
    border-radius: 0 5px 5px 0;
    background-color: #d3d4d6d7;
    transform: translateY(-50%);
  }
  .calendar::before {
    height: 94%;
    left: calc(100% + 12px);
    background-color: rgb(153, 153, 153);
  }
  .calendar .month {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
  }
  .calendar .month .prev,
  .calendar .month .next {
    cursor: pointer;
  }
  .calendar .month .prev:hover,
  .calendar .month .next:hover {
    color: var(--primary-clr);
  }
  .calendar .weekdays {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
  }
  .weekdays div {
    width: 14.28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .calendar .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .calendar .days .day {
    width: 14.28%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--primary-clr);
    border: 1px solid #f5f5f5;
  }
  .calendar .days .day:nth-child(7n + 1) {
    border-left: 2px solid #f5f5f5;
  }
  .calendar .days .day:nth-child(7n) {
    border-right: 2px solid #f5f5f5;
  }
  .calendar .days .day:nth-child(-n + 7) {
    border-top: 2px solid #f5f5f5;
  }
  .calendar .days .day:nth-child(n + 29) {
    border-bottom: 2px solid #f5f5f5;
  }
  
  .calendar .days .day:not(.prev-date, .next-date):hover {
    color: #fff;
    background-color: var(--primary-clr);
  }
  .calendar .days .prev-date,
  .calendar .days .next-date {
    color: #b3b3b3;
  }
  .calendar .days .active {
    position: relative;
    font-size: 2rem;
    color: #fff;
    background-color: var(--primary-clr);
  }
  .calendar .days .active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 2px var(--primary-clr);
  }
  .calendar .days .today {
    font-size: 2rem;
  }
  .calendar .days .event {
    position: relative;
  }
  .calendar .days .event::after {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 75%;
    height: 6px;
    border-radius: 30px;
    transform: translateX(-50%);
    background-color: var(--primary-clr);
  }
  .calendar .days .day:hover.event::after {
    background-color: #fff;
  }
  .calendar .days .active.event::after {
    background-color: #fff;
    bottom: 20%;
  }
  .calendar .days .active.event {
    padding-bottom: 10px;
  }
  .calendar .goto-today {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 0 20px;
    margin-bottom: 20px;
    color: var(--primary-clr);
  }
  .calendar .goto-today .goto {
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--primary-clr);
  }
  .calendar .goto-today .goto input {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    color: var(--primary-clr);
    border-radius: 5px;
  }
  .calendar .goto-today button {
    padding: 5px 10px;
    border: 1px solid var(--primary-clr);
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    color: var(--primary-clr);
  }
  .calendar .goto-today button:hover {
    color: #fff;
    background-color: var(--primary-clr);
  }
  .calendar .goto-today .goto button {
    border: none;
    border-left: 1px solid var(--primary-clr);
    border-radius: 0;
  }
  .container .right {
    position: relative;
    width: 40%;
    min-height: 100%;
    padding: 20px 0;
  }
  
  .right .today-date {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    padding-left: 70px;
    /* margin-top: 50px; */
    margin-bottom: 20px;
    text-transform: capitalize;
  }
  .right .today-date .event-day {
    font-size: 2rem;
    font-weight: 500;
  }
  .right .today-date .event-date {
    font-size: 1rem;
    font-weight: 400;
    color: #878895;
  }

  .events {
    width: 100%;
    height: 100%;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    /* flex-direction: column; */
    padding-left: 4px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
  }
  .events .event {
    position: relative;
    width: 30%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 20px 20px 10px 20px;
    color: #fff;
    /* background: linear-gradient(90deg, #3f4458, transparent);#3f584d */
    background: #3f584d;
    cursor: pointer;
    margin: 10px 10px 0 0;
    border-radius: 20px;
    border: solid 3px;
  }

  .Horas_disponibles_por_barbero{
    /* margin: 40px 0; */
  }

  /* even event */

  /* .events .event:nth-child(even) {
    background: transparent;
  } */
  .events .event:hover {
    background: linear-gradient(90deg, var(--primary-clr), transparent);
  }
  .events .event .title {
    display: flex;
    align-items: center;
    pointer-events: none;
    color: #fff;
  }
  .events .event .title .event-title {
    font-size: 1.4rem;
    font-weight: 600;
    margin-left: 20px;
  }
  .events .event i {
    color: var(--primary-clr);
    font-size: 0.5rem;
  }
  .events .event:hover i {
    color: #fff;
  }
  .events .event .event-time {
    font-size: 0.8rem;
    font-weight: 400;
    color: #fff;
    margin-left: 15px;
    pointer-events: none;
  }
  .events .event:hover .event-time {
    color: #fff;
  }
  /* add tick in event after */
  
  /* .events .event::after {
    content: "✓";
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 3rem;
    line-height: 1;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
    color: var(--primary-clr);
    transform: translateY(-50%);
  } */
  .events .event:hover::after {
    display: flex;
  }
  .add-event {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #878895;
    border: 2px solid #878895;
    opacity: 0.5;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
  }
  .add-event:hover {
    opacity: 1;
  }
  .add-event i {
    pointer-events: none;
  }
  .events .no-event {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: #878895;
  }
  .add-event-wrapper {
    position: absolute;
    bottom: 100px;
    left: 50%;
    width: 90%;
    max-height: 0;
    overflow: hidden;
    border-radius: 5px;
    background-color: #fff;
    transform: translateX(-50%);
    transition: max-height 0.5s ease;
  }
  .add-event-wrapper.active {
    max-height: 300px;
  }
  .add-event-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: #373c4f;
    border-bottom: 1px solid #f5f5f5;
  }
  .add-event-header .close {
    font-size: 1.5rem;
    cursor: pointer;
  }
  .add-event-header .close:hover {
    color: var(--primary-clr);
  }
  .add-event-header .title {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .add-event-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
  }
  .add-event-body .add-event-input {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
  .add-event-body .add-event-input input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #f5f5f5;
    padding: 0 10px;
    font-size: 1rem;
    font-weight: 400;
    color: #373c4f;
  }
  .add-event-body .add-event-input input::placeholder {
    color: #a5a5a5;
  }
  .add-event-body .add-event-input input:focus {
    border-bottom: 1px solid var(--primary-clr);
  }
  .add-event-body .add-event-input input:focus::placeholder {
    color: var(--primary-clr);
  }
  .add-event-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .add-event-footer .add-event-btn {
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    border: none;
    color: #fff;
    background-color: var(--primary-clr);
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid var(--primary-clr);
  }
  .add-event-footer .add-event-btn:hover {
    background-color: transparent;
    color: var(--primary-clr);
  } 

  .set_barbero{
    border: 1px solid var(--primary-clr);
    border-radius: 5px;


  }
  
  .set_barbero_select{
    background-color: white;
    height: 30px;
    outline: none;
    border: none;
    padding: 0 20px;
    color: var(--primary-clr);
    border-radius: 5px;
  }