/* Estilos para la sección de héroe */
.hero-section {
  background-image: url('https://source.unsplash.com/1920x1080/?barber');
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 150px 0;
}

.hero-section h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

/* Estilo para el Carousel */
.contenedor-barbero {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.barbero-top img {
  border-bottom: 1px solid #ddd;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.barbero-bottom {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.barbero-bottom-left h5,
.barbero-bottom-left h4 {
  margin: 0;
}

.barbero-bottom-right a {
  margin-right: 10px;
}
